* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 5%;
}

#root {
  align-items: start;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 30px;
}

.years {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  grid-gap: 15px;
}

form {
  align-items: center;
  display: grid;
  grid-template-rows: repeat(2, 36px 80px) auto;
  justify-items: stretch;
}

input {
  padding-left: 10px;
  height: 44px;
  width: 300px;
}

input,
button {
  font-size: 16px;
}

button {
  height: 44px;
  background-color: #005eff;
  border: none;
  color: white;
  cursor: pointer;
}

.box {
  background-color: #efefef;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  cursor: pointer;
}

.fill {
  background: #005eff;
  box-shadow: 0 0 2px inherit;
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: 1fr;
  }
}
